
body {
    background-image: fixed;
    background-attachment: fixed;
    /*background-image;*/
    color:#000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    text-align: left;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: -2px;
    width: 100%;
   
}

.punchline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #c69c6d;
    padding-left: 20px;
    padding-top: -5px;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: #ff8c00;
}

a:hover, a:active{
    background-color: #ff8c00;
    color: #fff;   
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 0;
}

.mainHeader nav {
    background-color: #2f4f4f;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-raduis: 5px;
    margin-bottom: 0;
    margin-top: 0;   
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li{
    float: left;
    display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
    
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a.visited{
    background-color: #ff8c00;
    text-shadow: none;
}
.mainHeader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.mainContent{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.content{
    width: 70%;
    float: left;
}
.topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
   padding: 3% 5%;
     
}
.bottomcontent{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
   padding: 3% 5%;
   margin-top: 2%;
    
}
.top-sidebar{
    width: 23%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 1% 1%;
    padding: 2% 3%;  
}
.post-info{
    font-style: italic;
    color: #999;
    font-size: 90%;
}
.middle-sidebar{
    width: 23%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 2% 3%;
}
 .bottom-sidebar{
    width: 23%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 1.6% 3%;
 }
  .mainFooter{
     width: 100%;
     height:50px;
     float: left;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     background-color: #2F4F4F;
     margin-top: 0;
     margin-bottom: 2%;
  }
   .mainFooter p{
       width: 92%;
       margin: 10px auto;
       color: #FFF;
   }